.rounded {
    width: 50%;
    height: 45%;
    max-height: 400px;
    overflow: auto;
    margin: auto; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px; 
    box-sizing: border-box;
}

.fa-link {
    color: black;
}